/**************/
/*** HEADER ***/
/*************/
#header {
    z-index: 100000;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 990px;
    height: 8%;
    min-height: 100px;
}
    /** LOGO BLOCK**/
    #project, #firm {
        z-index: inherit;
        position: relative;
        width: 180px;
        height: 100%;
    }
    #project {
        float: left;
    }
    #firm {
        float: right;
    }
        /** LOGO IMG **/
        #logoFirm, #logoProject {
            width: 180px;
        }
        #logoFirm {
            padding-top: 5%;
        }
        #logoProject {
            padding-top: 10%;
        }


/** Menu raccourcis
 *
    <!-- Ribbon Menu -->
    <div id="ribbonMenu">
        <!-- home ribbon menu -->
        <div id="homeRibbonMenu">
            <a href="#">
                <img id="logoHomeRibbonMenu" src="img/logoHome.png" alt="Accueil" />
            </a>
        </div>
        <!-- place ribbon menu -->
        <div id="placeRibbonMenu">
            <img id="logoPlaceRibbonMenu" src="img/lieu.png" alt="Lieu" />
        </div>
        <!-- route ribbon menu -->
        <div id="routeRibbonMenu">
            <img id="logoRouteRibbonMenu" src="img/itineraire.png" alt="Itinéraire" />
        </div>
    </div>
 *
**/