@charset "utf-8";


/*************************/
/****** CSS Document ******/
/*************************/
@font-face {
    font-family: 'SourceSansPro';
    src: url('fonts/SourceSansPro-Light.otf') format('truetype');
}

html, body {
    background-color: #132033;
    padding: 0px;
    margin: 0px;
    font-family: SourceSansPro, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #5a5a5a;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}



/************/
/*** MAIN ***/
/***********/
#main {
    z-index: 100000;
    display: block;
    position: relative;
    background-color: #132033;
    margin-left: auto;   /* center */
    margin-right: auto; /* header div */
    width: 100%;
    min-width: 960px; /* minimum width of header ribbon */
    min-height: 420px; /* height of button "place" and "route" */
}

    /** MAIN MENU **/
    #mainMenu {
        display: block;
        position: relative;
        clear: both;
        margin: auto;
        width: 60%;
        min-width: inherit; /* minimum width of header ribbon */
        height: 100%;
        min-height: inherit; /* height of button "place" and "route" */
    }
    #mainMenu.show {
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-name: showRow;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-direction: alternate;
        -webkit-animation-fill-mode: forwards;
    }

    #mainMenu.hide {
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in-out;
        -webkit-animation-name: hideRow;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-direction: alternate;
        -webkit-animation-fill-mode: forwards;
    }

        /** MENU BLOCK **/
        #place.block,
        #route.block {
            z-index: 10;
            display: block;
            position: relative;
            width: 410px;
            text-align: center;
            background-color: rgba(35, 204, 206, 1.0);
        }
        #place.block {
            float: left;
        }
        #route.block {
            float: right;
        }
            /** INNER PANEL **/
            .panel {
                position: relative;
                width: 330px;
                height: 330px;
                padding: 40px;
                color: #ffffff;
                background-color: rgba(35,204,206,1.0);
            }
            .panel.flip {
                -webkit-animation-iteration-count: 1;
                -webkit-animation-timing-function: ease-in-out;
                -webkit-animation-name: backgroundChange;
                -webkit-animation-duration: 0.3s;
                -webkit-animation-direction: alternate;
                -webkit-animation-fill-mode: forwards;
                -webkit-perspective: 600px;
                -moz-perspective: 600px;
                perspective: 600px;
            }
            .panel:hover {
                cursor: pointer;
                background-color: rgba(35,204,206,0.8);
            }
                /** INNER PANEL DIV **/
                .panel div {
                    color:#23ccce;
                }
                /** PANEL TITLE **/
                #titlePlace,
                #titleRoute {
                    position: relative;
                    height: 200px;
                    top: 80px;
                }
                #titlePlace.move,
                #titleRoute.move {
                    position: relative;
                    top: 80px;
                    -webkit-animation-iteration-count: 1;
                    -webkit-animation-timing-function: ease-in-out;
                    -webkit-animation-name: moveTitle;
                    -webkit-animation-duration: 0.3s;
                    -webkit-animation-direction: alternate;
                    -webkit-animation-fill-mode: forwards;
                }
                #titlePlace.moveDown,
                #titleRoute.moveDown {
                    -webkit-animation-iteration-count: 1;
                    -webkit-animation-timing-function: ease-in-out;
                    -webkit-animation-name: moveTitleDown;
                    -webkit-animation-duration: 0.3s;
                    -webkit-animation-direction: alternate;
                    -webkit-animation-fill-mode: forwards;
                }
                    /** INNER PANEL H1 **/
                    .panel h1 {
                        color: #132033;
                        text-align: center;
                        font-size: 32px;
                        line-height: 100px;
                        height: 100px;
                    }
                    /** INNER PANEL IMG **/
                    #placeImg {
                        position: relative;
                        width: 50px;
                    }
                    #routeImg {
                        position: relative;
                        width: 163px;
                        top: 20px;
                    }
                /** PANEL FORM **/
                .panel .form {
                    clear: both;
                    position: relative;
                    width: 330px;
                    height: 130px;
                    background: transparent;
                    
                    -webkit-transform-style: preserve-3d;
                    -moz-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    backface-visibility: hidden;
                    
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    
                    z-index: 800;
                    -webkit-transform: rotateY(-180deg);
                    -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
                    transform: rotateY(-179deg);
                }
                .panel.flip .form {
                    z-index: 1000;
                    -webkit-transform: rotateY(0deg);
                    -moz-transform: rotateY(0deg);
                    transform: rotateY(0deg);
                }
                .panel.flip .form:hover {
                    cursor: default;
                }
                .no-csstransforms3d .panel .form {
                    display: none!important;
                }
                .no-csstransforms3d .panel.flip .form {
                    display: block!important;
                }
                    /** INPUT **/
                    input.field {
                        position: relative;
                        float: left;
                        width: 310px;
                        padding: 10px 10px;
                        margin-bottom: 15px;
                        font-weight: normal;
                        font-size: 16px;
                        border: 1px solid rgb(19, 32, 51);
                        border-radius: 2px;
                    }
                    input.field:focus {
                        background-color: #d8f3ff;
                        -webkit-transition: all .25s linear;
                        transition: all .25s linear;
                        border: 1px solid rgb(19, 32, 51);
                        outline: none;
                    }
                    /** SEARCH **/
                    input.validate {
                        position: absolute;
                        border: 0px;
                        background-color: #132033;
                        color: #ffffff;
                        float: right;
                        width: 150px;
                        text-align: center;
                        vertical-align: middle;
                        line-height: 37px;
                        height: 37px;
                        margin-right: 2px;
                        bottom: -20px;
                        right: 0px;
                        font-family: "SourceSansPro";
                        font-size: 16px;
                    }
                    input.validate:focus {
                        background-color: #23ccce;
                    }
                    input.validate:hover {
                        background-color: #ffffff;
                        color: #132033;
                        -webkit-transition: all .15s linear;
                        transition: all .15s linear;
                        border: 1px solid #132033;
                        cursor: pointer;
                        text-align: center;
                        vertical-align: middle;
                    }

                    
/*****************/
/*** ANIMATION ***/
/****************/
@-webkit-keyframes backgroundChange {
    0% {
        background-color: #23ccce;
    }
    100% {
        background-color: white;
    }
}

@-webkit-keyframes moveTitle {
    0% {
        top: 80px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes moveTitleDown {
    0% {
        top: 0px;
    }
    100% {
        top: 80px;
    }
}

@-webkit-keyframes showRow {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes hideRow {
    0% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.0;
    }
}



