@charset "utf-8";


/*************************/
/****** CSS Document ******/
/*************************/
@font-face {
    font-family: 'SourceSansPro';
    src: url('css/fonts/SourceSansPro-Light.otf') format('truetype');
}

html, body {
    background-color: #132033;
    padding: 0px;
    margin: 0px;
    font-family: SourceSansPro, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #5a5a5a;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

/**************/
/*** HEADER ***/
/*************/
#header {
    z-index: 100000;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 960px;
    height: 8%;
    min-height: 100px;
}
    /** LOGO BLOCK**/
    #project, #firm, #ribbonMenu {
        z-index: inherit;
        position: relative;
        width: 180px;
        height: 100%;
    }
    #project {
        float: left;
    }
    #firm {
        float: right;
    }
    #ribbonMenu {
        width: calc(100% - 2 * 180px);
        float: left;
        margin: auto;
    }
        /** LOGO IMG **/
        #logoFirm, #logoProject {
            width: 180px;
        }
        #logoFirm {
            padding-top: 5%;
        }
        #logoProject {
            padding-top: 10%;
        }
        #ribbonMenuTable {
            position: relative;
            width: calc(3 * 60px + 2 * 2px);
            height: 100%;
            margin: auto;
            padding: 0px;
            text-align: center;
            vertical-align: middle;
            border-collapse: collapse;
        }
        #ribbonMenuTr {
            position: relative;
            width: 100%;
            height: 60px;
        }
        #homeRibbonMenu,
        #placeRibbonMenu,
        #routeRibbonMenu {
            margin: 0px;
            padding: 0px;
            height: inherit;
            width: 60px;
            background-color: rgba(35, 204, 206, 1.0);
            cursor: pointer;
        }
        #homeRibbonMenu.active,
        #placeRibbonMenu.active,
        #routeRibbonMenu.active {
            background-color: white;
        }
        td.none {
            margin: 0px;
            padding: 0px;
            width: 2px!important;
            height: inherit;
            border: 0px;
            background-color: rgba(0, 0, 0, 0);
        }
        #underRibbonMenuTr .link {
            margin: 0px;
            padding: 0px;
            height: inherit;
            width: 60px;
            background-color: transparent;
        }
        #underRibbonMenuTr .link.active {
            background-color: white;
        }


/*
            <!-- home ribbon menu -->
            <div id="homeRibbonMenu">
                <a href="#">
                    <img id="logoHomeRibbonMenu" src="img/home.png" alt="Accueil" />
                </a>
            </div>
            <!-- place ribbon menu -->
            <div id="placeRibbonMenu">
                <img id="logoPlaceRibbonMenu" src="img/place.min.png" alt="Lieu" />
            </div>
            <!-- route ribbon menu -->
            <div id="routeRibbonMenu">
                <img id="logoRouteRibbonMenu" src="img/route.min.png" alt="Itinéraire" />
            </div>
*/




